/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	.widget_shopping_cart {
		display: none;
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

ul.product_list_widget {
	overflow: hidden;
}
ul.product_list_widget > li {
	//width: 25%;
	float: left;
	overflow: hidden;
	padding: 0 5px;
	position: relative;
	@include breakpoint(xs) {
		//width: 50%;
	}
}

div.widget-inner ul.product_list_widget li {
	width: 25%;
}

ul.product_list_widget > li > a {
	text-align: center;
	color: #404040;
}

.product-title-wrap {
	bottom: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #fff;
	display: block;
	left: 0;
	padding: 10px 10px 5px;
	margin-bottom: 40px;
	position: absolute;
	text-shadow: 0 1px 1px #000;
	width: 100%;
	z-index: 2;
	height: auto;
	background-color: rgba(255,255,255,.3);
}
.product-title {
	display: table-cell;
	font-size: 12px;
	line-height: 18px;
	white-space: normal;
	vertical-align: middle;
	adding: 4px 0;
	text-overflow: ellipsis;
	height: 14px;
	overflow: hidden;
}

.woocommerce-Price-amount {
	//text-align: center;
	font-weight: 700;
	display: block;
	padding-bottom: 10px;
	color: rgba(51, 51, 51, 0.6);
}
span.woocommerce-Price-amount {
	//float: right;
}

span.price > span.woocommerce-Price-amount {
	float: none;
}
p.woocommerce-mini-cart__total {
	margin: 0;
}

a.button.wc-forward {
	margin-bottom: 10px;
}
/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: absolute;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
	top: 125px;
	background: rgba(255,255,255,.6);

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: red;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
 .woocommerce-tabs {
	 clear: both;
	 ul.tabs {
		 list-style: none;
		 padding: 0 0 0 1em;
		 margin: 0 0 0 2px;
		 //overflow: hidden;
		 position: relative;

		 li {
			 border: 1px solid darken( $secondary, 10% );
			 background-color: $secondary;
			 display: inline-block;
			 position: relative;
			 z-index: 0;
			 border-radius: 4px 4px 0 0;
			 margin: 0 -5px;
			 padding: 0 1em;

			 a {
				 display: inline-block;
				 padding: 0.5em 0;
				 font-weight: 700;
				 color: $secondarytext;
				 text-decoration: none;

				 &:hover {
					 text-decoration: none;
					 color: lighten( $secondarytext, 10% );
				 }
			 }

			 &.active {
				 background: $contentbg;
				 z-index: 2;
				 border-bottom-color: $contentbg;

				 a {
					 color: inherit;
					 text-shadow: inherit;
				 }

				 &::before {
					 box-shadow: 2px 2px 0 $contentbg;
				 }

				 &::after {
					 box-shadow: -2px 2px 0 $contentbg;
				 }
			 }

			 &::before,
			 &::after {
				 border: 1px solid darken( $secondary, 10% );
				 position: absolute;
				 bottom: -1px;
				 width: 5px;
				 height: 5px;
				 content: ' ';
				 box-sizing: border-box;
			 }

			 &::before {
				 left: -5px;
				 border-bottom-right-radius: 4px;
				 border-width: 0 1px 1px 0;
				 box-shadow: 2px 2px 0 $secondary;
			 }

			 &::after {
				 right: -5px;
				 border-bottom-left-radius: 4px;
				 border-width: 0 0 1px 1px;
				 box-shadow: -2px 2px 0 $secondary;
			 }
		 }

		 &::before {
			 position: absolute;
			 content: ' ';
			 width: 99.7%;
			 bottom: 0;
			 left: 0;
			 border-bottom: 1px solid darken( $secondary, 10% );
			 z-index: 1;
		 }
	 }

	 .panel {
		 margin: -1px 0 0 0;
		 padding: 10px;
		 border-left: 1px solid darken( $secondary, 10% );
		 border-right: 1px solid darken( $secondary, 10% );
		 border-bottom: 1px solid darken( $secondary, 10% );
		 border-radius: 5px;
		 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	 }
 }
/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $woocommerce__color-error;
		}
	}
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	//background-color: $woocommerce__color-success;
	clear: both;
}


.woocommerce-error {
	background-color: $woocommerce__color-error;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

h2.woocommerce-loop-category__title {
	@include font-size(.9);
	text-align: center;
	font-weight: 200;
}
h2.woocommerce-loop-category__title > mark {
	@include font-size(.8);
	background: #fff;
}

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart {
		.widget_shopping_cart {
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 999999;
			left: -999em;
			display: block;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		}

		&:hover,
		&.focus {
			.widget_shopping_cart {
				left: 0;
				display: block;
			}
		}
	}
}

h2.woocommerce-loop-product__title{
	color: #fefefe;
	font-size:.7rem !important;
	text-shadow: 0 1px 1px #000;
	font-weight: 100;
	border-radius: 5px 5px 0 0;
}
.woocommerce-loop-product__title {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
}

img.attachment-woocommerce_thumbnail {
	width: 100%;
	border-radius: 5px;
}

form.woocommerce-ordering {
	margin: 0 0 20px 0;
}

nav.woocommerce-pagination {
		text-align: center;

		ul {
			display: inline-block;
			white-space: nowrap;
			padding: 0;
			clear: both;
			//border: 1px solid darken( $secondary, 10% );
			//border-right: 0;
			margin: 1px;

			li {
				border: 1px solid darken( $secondary, 10% );
				padding: 0;
				margin: 0 5px 0 0;
				float: left;
				display: inline;
				overflow: hidden;
				border-radius: 5px;

				a,
				span {
					margin: 0;
					text-decoration: none;
					padding: 0;
					line-height: 1;
					font-size: 1em;
					font-weight: normal;
					padding: 0.5em;
					min-width: 1em;
					display: block;
				}

				span.current,
				a:hover,
				a:focus {
					background: $secondary;
					color: darken( $secondary, 40% );
				}
			}
		}
	}

@include breakpoint(xs) {
	.dokan-pagination-container .dokan-pagination li a {
		padding: 3px 3px !important;
		border: 1px solid #EDEDED;
		margin-right: 3px;
		text-decoration: none;
	}
	.dokan-w8, ul.pagination {
		@include font-size(.7);
	}
}
ul.dokan-pagination {
	margin: 0 !important;
}
#dokan-seller-listing-wrap{
	margin: 0 !important;
}

.pagination-wrap {
	margin: auto;
}

.pagination-wrap ul.pagination {
	padding: 0 !important;
	margin: 0 !important;
	border-radius: 4px;
}

dl.variation {
	margin-bottom: 10px;
}

dl.variation > dt {
	float: left;
	margin-right: 5px;
}

dd.variation- p, dd.variation- {
	margin-bottom: 0;
}

p.woocommerce-mini-cart__buttons.buttons {
	margin-bottom: 0;
}

tr.woocommerce-cart-form__cart-item, tr.woocommerce-cart-form__cart-item td {
	border: 1px solid #efefef;
	padding: 5px;
}

h3.widget-title {
	margin: 0 0 5px 0;
	font-weight: 100;
}

.woocommerce-breadcrumb {
	margin: 0 0 8px 0;
}

div.widget-inner div.widget_shopping_cart_content ul.woocommerce-mini-cart.cart_list.product_list_widget li.woocommerce-mini-cart-item.mini_cart_item {
	width: 100%;
}

tr > td.actions {
	padding-top: 10px;
}

.woocommerce {
	padding: 2px;
}

.woocommerce a.remove {
	display: block;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1;
	border-radius: 100%;
	color: red !important;
	text-decoration: none;
	font-weight: 700;
	border: 0;
}

.woocommerce a.remove:hover {
 color:#fff!important;
 background:red
}

.woocommerce .woocommerce-billing-fields::after, .woocommerce .woocommerce-billing-fields::before, .woocommerce .woocommerce-shipping-fields::after, .woocommerce .woocommerce-shipping-fields::before, .woocommerce-page .woocommerce-billing-fields::after, .woocommerce-page .woocommerce-billing-fields::before, .woocommerce-page .woocommerce-shipping-fields::after, .woocommerce-page .woocommerce-shipping-fields::before {
	content: ' ';
	display: table;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
	box-sizing: border-box;
	width: 100%;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

.woocommerce table.shop_table {
	border: 1px solid rgba(0,0,0,.1);
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-radius: 5px;
}

.woocommerce table.shop_table th {
	font-weight: 700;
	padding: 9px 12px;
}

.dokan-product-listing .dokan-product-listing-area table td img {
	max-width: 100% !important;
	max-height: 100% !important;
}

.dokan-dashboard .dokan-dashboard-wrap .outofstock::before {
	display: none;
}
.woocommerce-LoopProduct-link span.onsale {
	position: absolute;
	/* bottom: 0; */
	top: 128px;
	z-index: 3;
	padding: 0 5px;
	color: #fff;
	background-color: #f00;
	border-radius: 5px;
}
.product-type-simple span.onsale {
	padding: 0 5px;
	color: #fff;
	background-color: #f00;
	border-radius: 5px;
}

del > span.woocommerce-Price-amount {
	font-size: 10px;
	float: right;
	text-decoration:line-through
}

div.product div.images img, img.attachment-thumbnail {
	border-radius: 5px;
}


.woocommerce-account .woocommerce-MyAccount-navigation {
	float: left;
	width: 25%;
	margin-right: 20px;
}

.woocommerce-MyAccount-navigation ul li {
	list-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	position: relative;
}

.woocommerce-MyAccount-navigation ul {
	padding-left: 0px;
	margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a::before {
	content: "\f0e4";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before {
	content: "\f07a";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before {
	content: "\f015";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before {
	content: "\f007";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
	content: "\f08b";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before {
	content: "\f019";
}

.woocommerce-MyAccount-navigation ul li a::before {
	display: inline-block;
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0f6";
	line-height: 1.618;
	margin-left: .53em;
	width: 1.387em;
	text-align: right;
	float: right;
	opacity: .25;
}

.woocommerce-MyAccount-navigation ul li a {
	padding: 4px 8px;
	display: block;
	text-decoration: none;
}

.woocommerce-MyAccount-navigation ul li.is-active a::before {
	opacity: 1;
}
